.container {
    display: flex;
    flex-direction: column;
}

.center {
    text-align: center;
    display: block;
}

h3 {
    color: black;
}

button {
    border-radius: 12px;
    background-color: #e7e7e7;
    color: black;
}

.iconSuccess{
    display: none;
}

.iconFailed{
    display: none;
}