<div class="center">
    <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" 
    (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
        <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
          <div class="container">
            <div class="row justify-content-md-center">
              <div class="col-md-auto">
                <h3>Drag and drop your Certificate here or</h3>
              </div>
              <div class="col-md-auto">
                <button type="button" class="btn btn-outline-dark" (click)="openFileSelector()">Browse Certificate</button> 
              </div>
            </div>
          </div>
        </ng-template>
      </ngx-file-drop>

  <br>

  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-auto">
          <button type="button" id="verifyButton" class="btn btn-outline-dark" (click)="verify()">Verify Certificate on Blockchain</button>
      </div>

      <div class="col-md-auto">
        <div class="iconSuccess" id="verificationResultSuccess">
          <img src="/assets/img/green-tick.png" alt="Verification Successful">
        </div>

        <div class="iconFailed" id="verificationResultFailed">
          <img src="/assets/img/red-cross.png" alt="Verification Failed">
        </div>
      </div>
    </div>
  </div>
  <br>
  <app-file-viewer [dataTable]='curriculum_Array'></app-file-viewer>
</div>


