/* CSS for the table
table, th, td {
    border: 1px solid black;
}

table {
    width: 100%;
}

tr:hover {
    background-color: #f5f5f5;
}

#ul-head {
    list-style: none;
     
    padding: 5px 10px;
    border: 1px solid grey;
    
    display:table-cell;
    flex-wrap: wrap;
}

#li-head{
    display: table-row;
}
*/
/*
li {
    flex: 0 0 50%;
    border: 1px solid grey;
    padding: 1em;
    display: flex;
    align-items: flex-end;
}*/

/*CSS for table with LI UL and DIV*/
.container {

}

body {
    width: 100%;
}

.responsive-table {
    margin: 0%!important;
    padding: 0%!important;
}

.responsive-table li {
        border-radius: 3px;
        display: flex;
        margin-bottom: 2%;
        justify-content: space-between;
    }
.responsive-table .table-header{
        width: 100%;
        background-color: #95A5A6;
        font-size: 13px; 
        text-transform: uppercase;
        /*letter-spacing: 0.03em;*/
    }
.responsive-table .table-row {
        background-color: #ffffff;
        box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    }
.responsive-table .col-1 {
    flex-basis: 25%;
    text-align: center;
    overflow-wrap: break-word;
    text-justify: auto;
    vertical-align: middle;
}
.responsive-table .col-2 {
    flex-basis: 25%;
    text-align: center;
    text-justify: auto;
}
.responsive-table .col-3 {
    flex-basis: 20%;
    text-align: center;
    text-justify: auto;
    vertical-align: middle;
    
}
.responsive-table .col-4 {
    flex-basis: 6%;
    text-align: center;
    text-justify: auto;
}
.responsive-table .col-5 {
    flex-basis: 12%;
    text-align: center;
    text-justify: auto;
}
.responsive-table .col-6 {
    flex-basis: 12%;
    text-align: center;
    text-justify: auto;
}
/*
.responsive-table .col-7 {
    flex-basis: 10%;
    text-align: center;
}
.responsive-table .col-8 {
    flex-basis: 10%;
    text-align: center;
}*/
      

 
@media all and (max-width: 767px) {
.responsive-table .table-header {
        display: none;
    }
    
    .responsive-table  li {
        display: block;
    }
    .responsive-table .col {
        
        flex-basis: 100%;
        
    }
    .responsive-table  .col {
        display: flex;
        /*padding: 0px 0;*/
        
    }
    .responsive-table col:before {
        color: #6C7A89;
        padding-right: 0px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: center;
    }
}