<!-- #1 attempt with table tr th td
<div class="container-fluid">
    <table>
        <tr>
            <th *ngFor = "let fields of dataTable?.meta?.fields">
                {{ fields }}
            </th>
        </tr>

        <tr *ngFor = "let row of dataTable?.data">
            <td *ngFor = "let dataCell of row | keyvalue: 0">
                {{ dataCell.value }}
            </td>
        </tr>
    </table>
</div>
-->

<!--
    #2 attempt
    Table with div ul li 
-->
<div class="container">
    <ul class="responsive-table">
        <li class="table-header" >
            <div class="col col-{{i+1}}" *ngFor = "let fields of dataTable?.meta?.fields | slice:2; let i = index;">
                 {{ fields }} 
            </div>
        </li>
        <li class="table-row" *ngFor = "let row of dataTable?.data">
            <div class="col col-{{i+1}}" *ngFor = "let dataCell of row | keyvalue: 0 | slice:2; let i = index">
                {{ dataCell.value }}
            </div>
        </li>
    </ul>
</div> 